{% load static from staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<!--Shout out goes to Abraham (abrah.am) for the design inspiration, and: Python & Django, Bootstrap, The Square Grid-->

<html lang="en">
<head>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	<title>Ryan Walton</title>
	<meta name="author" content="Ryan Walton">
</head>
<body>
  <section id='wrapper'>
    <section id='container'>	
	<section id='left' class='sg-9 sgParent'>
		<img align="right" valign="middle" src="{% static 'images/ryanicon_homepage.png' %}" alt='image of ryan'/>
	</section>
	
	<section id='right' class='sg-9'>
	          <h1>Ryan Walton</h1>
	          <table>
	            <tr>
	              <th align="right">twitter</th>
	              <td>@<a rel='me' class='twitter-anywhere-user' href='https://twitter.com/ryanswalton'>ryanswalton</a></td>
	            </tr>
	            <tr>
	              <th align="right">blog</th>
	              <td><a rel='me' href="http://ryan-walton.tumblr.com/">ryan-walton.tumblr.com</a></td>
	            </tr>
	            <tr>
	              <th align="right" >facebook</th>
	              <td><a rel='me' href='http://www.facebook.com/ryanswalton'>facebook.com/ryanswalton</a></td>
	            </tr>
	            <tr>
	              <th align="right">google+</th>
	              <td><a rel='me' href='https://plus.google.com/101602633876322711277'>profiles.google.com</a></td>
	            <tr>
	              <th align="right">github</th>
	              <td><a rel='me' href="https://github.com/waltonryan">github.com/waltonryan</a></td>
	            </tr>
	            <tr>
	              <th align="right">email</th>
	              <td class="email"><a rel='me' href="mailto:ryang24@gmail.com">ryang24@gmail.com</a></td>
	            </tr>
            	</tr>
              	  <th align="right">location</th>
              	  <td><a rel='me' href='https://maps.google.com/?ll=37.76072,-122.425755&spn=0.021544,0.039611&t=v&z=15'>san francisco, ca</a></td>
            	</tr>
	          </table>
	</section>
	</section>
  </section>
</body>
</html>
