{% load static from staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<!--Credit to Abraham (abrah.am) for the design inspiration and Python & Django, for making the backend run-->

<html lang="en">
<head>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	<title>Ryan Walton</title> <!-- http://bit.ly/ryanwalton-->
	<meta name="author" content="Ryan Walton">
</head>
<body class="homepage">
<div class="home_main">
	<section id="wrapper">	
    	<section id='container'>	
		<section>
	          <h1>Ryan Walton</h1>
	          <table>
	            <tr>
	              <th>twitter</th>
	              <td>@<a rel='me' target="_blank" class='twitter-anywhere-user' href='https://twitter.com/ryanswalton'>ryanswalton</a></td>
	            </tr>
 	            <tr>
	              <th>portfolio</th>
	              <td><a rel='me' target="_blank" href="/projects">ryanwalton/projects</a></td>
	            </tr>
	            <tr>
	              <th>facebook</th>
	              <td><a rel='me' target="_blank" href='http://www.facebook.com/ryanswalton'>facebook.com/ryanswalton</a></td>
	            </tr>
	            <tr>
	              <th>google+</th>
	              <td><a rel='me' target="_blank" href='https://plus.google.com/101602633876322711277'>bit.ly/ryangoogleplus</a></td>
				</tr>
	            <tr>
	              <th>instagram</th>
	              <td>@<a rel='me' target="_blank" href='http://ink361.com/waltonryan'>waltonryan</a> (via <a target="_blank" href="http://ink361.com/"> ink361)</a></td>
				</tr>
	            <tr>
	              <th>foursquare</th>
	              <td><a rel='me' target="_blank" href='https://foursquare.com/user/10195'>foursquare.com/user/10195</a></td>
				</tr>
	            <tr>
	              <th>github</th>
	              <td><a rel='me' target="_blank" href="https://github.com/waltonryan">github.com/waltonryan</a></td>
	            </tr>
				<tr>
	              <th>linkedin</th>
	              <td><a rel='me' target="_blank" href="https://www.linkedin.com/pub/ryan-walton/7/855/a86">bit.ly/ryanwaltonlinkedin</a></td>
	            </tr>
	            <tr>
	              <th>email</th>
	              <td class="email"><a rel='me' target="_blank" href="mailto:ryang24@gmail.com">ryang24@gmail.com</a></td>
	            </tr>
            	</tr>
              	  <th>location</th>
              	  <td><a rel='me' target="_blank" href='https://maps.google.com/?ll=37.76072,-122.425755&spn=0.021544,0.039611&t=v&z=15'>san francisco, ca</a></td>
            	</tr>
	          </table>
	</section>
	</section>
  </section>

</div>
</body>
</html>
