
body {
  margin: 0;
  font-family: Cambria,Georgia,Times,serif;
  font-size: 1em;
  line-height: 120%;
  background: url('../images/low_contrast_linen.png') repeat fixed;
}

p {
  font-family: inherit;
  font-size: 1em;
  line-height: 120%;
  margin:0px;
}


.projects p {
	margin-top:0px;
	vertical-align: top;
}

#links p {
	margin:2px;
}

.homepage {
  background: url('../images/low_contrast_linen.png') repeat fixed;
}

.projectspage {
	width:1024px;
	height:1900px;
	background: url('../images/lyft_bg-quilt.png') repeat fixed;
	padding: 20px 20px 20px 20px;
	margin: 0 auto;
	top:50px;
	left:40px;
	position:absolute;
}

table {
	font-family: inherit;
	border-collapse:separate;
	border-spacing: 7px;
}	

a {
  color: #843030;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  line-height: 1;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 2.5em;
  line-height: 40px;
  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -1px;

}

h2 {
  font-size: 1.6875em;
  line-height: 40px;
}

th {
	text-align:left;
}

td {
}

div.home_main {
	display:block;
	width:345px;
	height:385px;
	background: url('../images/lyft_bg-quilt.png') repeat fixed;
	padding: 20px 20px 20px 50px;
	margin: 0 auto;
	top:50px;
	left:40px;
	position:relative;	
}

#header {
	width:1024px;
	height:160px;
}

#header h1 {
	text-align:center;
	padding-top:45px;
	font-size:6em;
	letter-spacing:7px;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	
}

hr {
	border-top:1px solid #CCCAC8;
	border-bottom:1px solid white;
	width: 75%;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 50%, 100% 50%;
}

#header p {
	}

#container {
	display:block; 
	margin-bottom:20px; 
	padding:0; 
	width:1020px;
	height:220px;
	}
	
#img-element { 
	float:left; 
	display:block; 
	margin:10px; 
	padding:0; 
	width:277px;
	height:208px;
	box-shadow: 5px 5px 10px #888888;
	}
	
#text-element { 
	float:left; 
	display:block; 
	margin:10px 0; 
	padding:0; 
	width:590px;
	height:208px;  
	}