

body {
  margin: 0;
  font-family: Cambria,Georgia,Times,serif;
  font-size: 1em;
  line-height: 120%;
  background: url('http://static.tumblr.com/uac2k0c/0Vgm96kl9/low_contrast_linen.png') repeat fixed;
}

table {
	font-family: inherit;
	border-collapse:separate;
	border-spacing: 7px;
}	

a {
  color: #843030;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  line-height: 1;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 2.5em;
  line-height: 40px;
}

h2 {
  font-size: 1.6875em;
  line-height: 40px;
}

div.main {
	display:block;
	width:400px;
	height:340px;
	background:#f1f1f1;
	padding: 20px 20px 20px 50px;
	margin: 0 auto;
	top:50px;
	left:40px;
	border: 1px #ccc solid;
	position:relative;	
}

